<div class="header">
    <h1>Student Management System</h1>
    
  </div>
  <div class="navbar">
   
    <div class="rightNav">
        
        <a routerLink="/login">Logout</a>
    </div>
  </div>
  <div class="stfView">
    
    <form #nameform="ngForm" (ngSubmit)="showStudent(nameform)">
        <label for="search"></label>
        <!-- input name="author" required ngModel type="text" id="author        "/ -->
        <input name="search"   type="text" id="search "/>
        <input class="button" type="Submit" value="Search" />
      </form>
     
       <a routerLink="/viewAll" ><button>View All Students</button>
       </a>  
    
        <a routerLink="/addStudent"><button>Add Student</button></a>
  </div>
  <div  >
    <router-outlet></router-outlet>
  </div>
  <router-outlet></router-outlet>