<div class="header">
    <h1>Student Management System</h1>
    
  </div>
  <div class="navbar">
   
    <div class="rightNav">
        
      <a href="/userLogin"><button>Log out</button> </a>
    </div>
  </div>
  <div class="stfView">
    
    <form #nameform="ngForm"  (ngSubmit)="showStudent(nameform)">
        <label for="search"></label>
        <!-- input name="author" required ngModel type="text" id="author        "/ -->
        <input name="search"    required [(ngModel)]="student.id" type="text" id="search "/>
        <input class="button" type="Submit" value="Search" />
      </form>
     
     <div>
        <input
        type="button"
        value="View All"
        (click)="viewAll()">
    </div>
    <div>
      <input
      type="button"
      value="Add Student"
      (click)="addnewStudent()">
  </div>
  </div>
  <div  >
    <router-outlet></router-outlet>
  </div>
