



<div class="header">
  <h1>Student Management System</h1>
  
</div>


<div class="navbar">
 
  <div class="rightNav">
      
      <a href="/login">Logout</a>
  </div>
</div>
<div class="stfView">
  
  <form action ="Search">
     
      <input type="number" placeholder="Student-Id" name ="stdId">
      <button type="submit" (click)="ShowDetails()">Show details</button>
  </form>
  <form action="" method="post">
      <button type="submit"><a routerLink="/allStudent">View All Students</button></a>
  </form>
  
      <a href="/addStudent"><button>Add Student</button></a>
</div>
<div  >

</div>