
<div class="html">
  <div class="card-body">

    <br>
    <br>
    <br>
    <p align="right">
      <input id="login" type="button" value="Login" style="margin-right :258px; margin-top: 70px;"  (click)=gotoLogInPage()/>
    </p>
    <h1>Registration Form</h1><br>
    <form (ngSubmit)="onSubmit()" #UserRegistration="ngForm">
      <div class="form-group">
        <label  for="fname"><b>FirstName</b></label>
        <input
          type="text"
          [(ngModel)]="user.fname"
          class="form-control"
          id="fname"
          name="fname"
          placeholder="First name"
          required
          #fname="ngModel"
        />
      </div>
      <div
      *ngIf="fname.invalid && (fname.dirty || fname.touched)"
      class="alert"
    >
      <div *ngIf="fname.errors?.['required']">
         **Firstname is Required
      </div>
      
    </div>
      <br>
      <div class="form-group">
        <label  for="lname"><b>LastName</b></label>
        <input
          type="text"
          [(ngModel)]="user.lname"
          class="form-control"
          id="lname"
          name="lname"
          placeholder="Lastname"
          required
          #lname="ngModel"
        />
      </div>
      <div
      *ngIf="lname.invalid && (lname.dirty || lname.touched)"
      class="alert"
    >
      <div *ngIf="lname.errors?.['required']">
        **Lastname is Required
      </div>
      </div>

      <br/>
      <div class="form-group">
        <label for="address"><b>Address </b></label>
        <input
          type="text"
          [(ngModel)]="user.address"
          class="form-control"
          id="address"
          name="address"
          placeholder="Address"
          required
          #address="ngModel"
        />
      </div>
      <br/>
      <div class="form-group">
        <label  for="email"><b>Email</b> </label>
        <input
          type="text"
          [(ngModel)]="user.email"
          class="form-control"
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          id="email"
          name="email"
          placeholder="Email ID"
          required
          #email="ngModel"
        />
        <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="alert"
      >
        <div *ngIf="email.errors?.['required']">
          **Email ID is required
        </div>
        <div *ngIf="email.errors?.['pattern']">
          **Email must Contain @ And . Characters
        </div>
      </div>
    
      </div>
      <br>
       <div class="form-group">
          <label for="phone number"><b> Phone Number</b></label>
          <input
            type="text"
            [(ngModel)]="user.phone"
            class="form-control"
            required
            minlength="10"
            id="phone"
            name="phone"
            placeholder="Phone Number"
            required
            #phone="ngModel"
          />
          <div
            *ngIf="phone.invalid && (phone.dirty || phone.touched)"
            class="alert"
          >
            <div *ngIf="phone.errors?.['required']">
              <b>**Phone Number is required</b>
            </div>
            <div *ngIf="phone.errors?.['minlength']">
              <b>**Phone Number must be at least 10 digits long</b>
            </div>
          </div>
        </div>
      <br>
      <div class="form-group">
        <label  for="username"><b>UserName</b></label>
        <input
          type="text"
          [(ngModel)]="user.username"
          class="form-control"
      
          id="username"
          minlength="5"
          name="username"
          placeholder="Username"
          required
          #username="ngModel"
        />
        <div
        *ngIf="username.invalid && (username.dirty || username.touched)"
        class="alert"
      >
        <div *ngIf="username.errors?.['required']">
          **Username is required
        </div>
        <div *ngIf="username.errors?.['minlength']">
         **Username must be at least 5 Characters long
        </div>
      </div>
        
      </div>
      <br>
      <div class="form-group">
        <label for="password"><b> Password: </b></label>
        <input
          type="password"
          [(ngModel)]="user.password"
          class="form-control"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
          id="password"
          name="password"
          placeholder="Password"
          required
          #password="ngModel"
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="alert"
        >
          <div *ngIf="password.errors?.['required']">
            <b> **Password is required</b>
          </div>
          <br />
          <div *ngIf="password.errors?.['pattern']">
            **Password must contain at least one Number,one UPPERCASE, one
              lowercase letter,At least 6 characters
            
          </div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <label for="c_password"><b>Confirm Password </b></label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm Password"
          required
          
          #password="ngModel"
        />
       <!---->

      
       <!---->
      </div>
      <br>
      
      <div align="center">
        <button type="submit" [disabled]="!UserRegistration.form.valid">
          <b> Submit</b>
        </button>
      </div>
      
    </form>
  </div>
</div>