<div class="html">
    <div class="card my-5">
        
        <div class="card-body">
    <div class="body" align="center">
        <h2 align="center">Update Student</h2>
    </div>
    
    

    <div class="row" align="right"  >
        <a style="color: green" href="/home" ><button >Home</button></a>
        &nbsp;<a style="color: green" href="/userLogin"><button>Logout</button></a>
    </div>

    <br>
    
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">

        <div align="center">
            
            <div class="form-group">
                <label><b>Student Id:</b></label>
                <input type="text" [(ngModel)]="student.id" class="form-control" id="id" name="id" placeholder=""  #id="ngModel" disabled />
            </div>

            <br>

            <div class="form-group">
                &nbsp; &nbsp; &nbsp;&nbsp;   <label><b>Name:</b></label>
                <input type="text" [(ngModel)]="student.name" class="form-control" id="name" name="name" placeholder="" required #name="ngModel" >
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                    <div *ngIf="name.errors?.['required']">
                      <i> **Name is Required</i>
                    </div>
                  </div>
            </div>

            <br>
            
            <div class="form-group">
                &nbsp;  &nbsp;&nbsp; <label><b>Rollno:</b></label>
                <input type="text" [(ngModel)]="student.rollno" class="form-control" id="rollno" name="rollno" required #rollno="ngModel">
                <div *ngIf="rollno.invalid && (rollno.dirty || rollno.touched)" class="alert" >
                    <div *ngIf="rollno.errors?.['required']">
                      <i> **RollNo is Required</i>
                    </div>
                  </div>
                
            </div> 
            
            <br>
            
            <div class="form-group">
                <label><b>Date of Admission:</b></label>
                <input type="date" [(ngModel)]="student.dateOfAdmission" class="form-control" id="dateOfAdmission" required name="dateOfAdmission"  #dateOfAdmission="ngModel">
                <div *ngIf="dateOfAdmission.invalid && (dateOfAdmission.dirty || dateOfAdmission.touched)" class="alert">
                    <div *ngIf="dateOfAdmission.errors?.['required']">
                      <i> **Date of Admission is Required</i>
                    </div>
                  </div>
            </div> 

            <br>

            <div class="form-group">
                <label><b>Physics mark:</b></label>
                &nbsp; &nbsp;<input type="text" [(ngModel)]="student.physics" class="form-control" id="physics" name="physics" placeholder=""  #physics="ngModel">
            </div>

            <br>

            <div class="form-group">
                <label><b>Chemistry mark:</b></label>
                <input type="text" [(ngModel)]="student.chemistry" class="form-control" id="chemistry" name="chemistry" placeholder=""  #chemistry="ngModel">
            </div> 

            <br>

            <div class="form-group">
                <label><b>Biology mark:</b></label>
                &nbsp; &nbsp;<input type="text" [(ngModel)]="student.biology" class="form-control" id="biology" name="biology" placeholder=""  #biology="ngModel">
            </div>

            <br>

            <div class="row">
                <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>
                <button type="reset">Reset</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>