html,
.body {
  margin: 50;
  padding: 50;

    
 
}
.html{
    background-image: url('https://s38924.pcdn.co/wp-content/uploads/2020/08/User-Registration-1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    background-size: 100%;
  background-position: top center;
  padding-bottom: 80px;
}


.form-control {
  background-color: white;
  border: 2px solid #42f4ce;
  border-radius: 5px;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.form-control:hover {
  background-color: #42f4ce;
  color: red;
}

.form-control1 {
  background-color: white;
  border: 2px solid #b0f0f2;
  border: radius 5px;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.form-control1:hover {
  background-color: #42f4ce;
  color: red;
}

.form-control2 {
  background-color: white;
  border: 2px solid #ead2f2;
  border-radius: 5px;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.form-control2:hover {
  background-color: #286456;
  color: red;
}
