<div class="body">
 
  <div align="center">
    <br>
    <br>
    <h1 style="color: red; position: inherit;">Welcome to Student Management System !!!</h1>
    <br />
    <p></p>
  <div align="right" class="row">
       <a  href="/userLogin"><button class="logout">Log out
      </button></a>

    </div>
    
    <input class="anchor1" type="button" value="View All Students" (click)="allstudent()" />
    <p><p>
    <input class="anchor1" type="button" value="Find Student by Id" (click)="studentid()" />

<!-- search student by id-->

    <div *ngIf="studentidstatus&&!studentidstatusDl" id="au">
      <form #form2="ngForm" (ngSubmit)="showStdById(form2)">
        <label for="id"></label>

        <input name="id" required [(ngModel)]="student.id" type="number" id="id " />

        <input class="button" type="submit" value="Search" />
      </form>
    </div>
    
    
    <!--  Delete Student-->
    <input class="anchor1" type="button" value="Delete Student by Id" (click)="studentidDl()" />
   

    <div *ngIf="studentidstatusDl && !studentidstatus" id="id">
      <form #form3="ngForm" (ngSubmit)="deleteStdById(form3)">
        <label for="id"></label>

        <input  name="id" required  [(ngModel)]="student.id" type="number" id="id" />

        <input class="button" type="Submit" value="Delete" />
      </form>
    </div>
    <div *ngif="showstatus">Successfully removed</div>
    <br>
    <!-- Add Student-->
    <input class="anchor1" type="button" value="Add Student" (click)="addStudent()" />
    <p>
    


  </div>
</div>
