.body {
    height: 600px;
    background: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-school-season-welcome-new-students-blackboard-hand-painted-image_12970.jpg")
      no-repeat center;
    background-size: 100% 100%;
    background-position: top center;
    padding-bottom: 80px;
  }
.row{
    position:relative;
    right: 35px;
  }
.anchor1 {

 display: ruby-text;
 margin: 20px;
 color: black;
 border: 2px solid #101111;
 border-radius: 6px ;
 padding:14px;
 background: rgb(194, 201, 209);
 border: rgb(8, 8, 20);
 font-weight: bold;
 box-shadow: 0 9px #999;
 
} 

.anchor1:hover{
  background-color: aqua;
}

.anchor1:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY();

}

.logout{
  border-radius: 4px ;
  border: rgb(8, 8, 20);
  background: rgb(194, 201, 209);
  padding:2px;
  box-shadow: 0 5px #999;

}

.logout:hover{
  background-color: aqua;
}

.logout:active{
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY();
}
