



<div class="header">
    <h1>Student Management System</h1>
    
  </div>
  <div class="navbar">
   
    <div class="rightNav">
        <a  href="/home">Home</a>
        <a href="/login">Logout</a>
    </div>
</div>
<div align="center">
    <h1>Student List</h1>
    <table border="1">
        <tr>
        <th>Id</th>
        <th>RollNo</th>
        <th>Name</th>
        <th>DOA</th>
        <th>Physics</th>
        <th>Chemistry</th>
        <th>Biology</th>
        <th>Division</th>
        <th>Result</th>
    </tr>
       
            <tr *ngFor="let std of students">
            
                <td>{{std.id}</td>
                <td>{{std.rollNo}}</td>
                <td>{{std.name}}</td>
                <td>{{std.doa}}</td>
                <td>{{std.physics}}</td>
                <td>{{std.chemistry}}td>
                <td>{{std.biology}}</td>
                <td>{{std.division}}</td>
                <td>{{std.result}}</td>
               
            </tr>
        
    </table>
    <br/>
     <a href="/studentRegistration"><button>Add Student</button></a>
</div>