<div class="header">
    <h1>Student Management System</h1>
    
  </div>
  <div class="navbar">
    <a  href="home.html">Home</a>
</div>
<div align="center">
 
    <h2>Staff Registration</h2>
    <form action="" method="get">
    <table id="table1">
    
        <tr>
            <td>First Name:</td>
            <td><input type="text" id="first"/><br><br></td>
            
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" id="last" /><br><br></td>
            
        </tr>
        <tr>
            <td>Contact No:</td>
            <td><input type="text" id="contact" /><br><br></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" id="address" /><br><br></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" id="email" /><br><br></td>
        </tr>
        <tr>
            <td>User Id:</td>
            <td><input type="text" id="uid" /><br><br></td>
  
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" id="password"/><br><br></td>
          
        </tr>
        <tr>
            <td>Confirm Password:</td>
            <td><input type="password" id="confirm"  /><br><br></td>
           
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
        <input type="Submit" id="create" value="Create Account"/>
    </form>
    Existing  user <a href="loginNew.html">Login</a>
</div>
