



<div class="html">

  <div class="body" align="center">
    <h2 align="center">Add Student</h2>
  </div>
  
  <br/>
  
  <div class="row" align="right">
    <a style="color: green" href="/home"><button>Home</button></a>
    <a style="color: green" href="/userLogin"><button>Logout</button></a>
  </div>
  
  <br>
  
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    
    <div align="left">

      <div class="form-group">
        <label><b>Name:</b></label>
        <input type="text" [(ngModel)]="student.name" class="form-control" id="name" name="name" placeholder="" required #name="ngModel" />
        
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
          <div *ngIf="name.errors?.['required']">
            <i> **Name is Required</i>
          </div>
        </div>
      </div>
      
      <br>
      
      <div class="form-group">
        <label><b>RollNo:</b></label>
        <input type="text" [(ngModel)]="student.rollno" class="form-control" id="rollno" name="rollno" min="1" max="5" placeholder="" required #rollno="ngModel"/>
        
        <div *ngIf="rollno.invalid && (rollno.dirty || rollno.touched)" class="alert" >
          <div *ngIf="rollno.errors?.['required']">
            <i> **RollNo is Required</i>
          </div>
        </div>
      </div>
      
      <br>
      
      <div class="form-group">
        <label><b>Date of Admission:</b></label>
        <input type="date" [(ngModel)]="student.dateOfAdmission" class="form-control" id="dateOfAdmission" name="" required #dateOfAdmission="ngModel" />
                
        <div *ngIf="dateOfAdmission.invalid && (dateOfAdmission.dirty || dateOfAdmission.touched)" class="alert">
          <div *ngIf="dateOfAdmission.errors?.['required']">
            <i> **Date of Admission is Required</i>
          </div>
        </div>
      </div>
      
      <br>
      
      <div class="form-group">
        <label><b>Physics mark:</b></label>
        <input type="text" [(ngModel)]="student.physics" class="form-control" id="physics" name="physics" placeholder="" required #physics="ngModel">
      </div>
      
      <br>
      
      <div class="form-group">
        <label><b>Chemistry mark:</b></label>
        <input type="text" [(ngModel)]="student.chemistry" class="form-control" id="chemistry" name="chemistry" placeholder="" required #chemistry="ngModel">
      </div>

      <br>
      
      <div class="form-group">
        <label><b>Biology mark:</b></label>
        <input type="text" [(ngModel)]="student.biology" class="form-control" id="biology" name="biology" placeholder="" required #biology="ngModel">
      </div>

      <br>

            
      <br>
      
      <div class="row">
        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>
        <button type="reset">Reset</button>
      </div>
    
    </div>
    </form>
  
  </div>